.logo {

    font-size: 30px;
    position: relative;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 2rem 0;
    cursor: pointer;
}

.logo span {

    color: #873EFF;
}
