.notfound {
    
    color: #ffffff;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    margin: 2rem 0;
    text-align: center;
    white-space: pre;
}