.searchBox {

    display: flex;
    padding: 15px 20px;
    border-radius: 15px;
    align-items: center;
    background-color: #161B22;
}

.searchTerm {

    flex: 1;
    border: 3px solid #873EFF;
    border-radius: 7px;
    border-right: none;
    outline: none;
    padding: 15px 35px;
    font-size: 20px;
    background-color: #0D1117;
    color: #989898;
}

.searchIcon {

    position: relative;
    left: 30px;
    font-size: 20px;
}

.searchButton {

    position: relative;
    background-color: #873EFF;
    border: 3px solid #873EFF;
    border-radius: 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 46px;
    right: 10px;
}

@media (max-width: 768px) {
    .searchBox {
        padding: 10px 20px;
        margin: 1rem 0;
    }

    .searchTerm {
        font-size: 16px;
    }

    .searchButton {
        font-size: 16px;
    }
}