.heroLogo {

    margin: 2rem 0;
    display: flex;
    justify-content: center;
    font-size: 120px;
    color: #FFFFFF;
}

.heroIcon {

    font-size: 280px;
}

@media (max-width: 768px) {
    .heroLogo {
        font-size: 100px; 
    }

    .heroIcon {
        font-size: 250px; 
    }
}