.infoBox {

    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}

.infoCard {

    width: 100%;
    margin: 0 2rem;
}

.infoCard h4 {

    font-weight: 300;
}

.infoCard p {

    font-weight: 100;
}

.infoCard hr {

    border: 0;
    height: 1px;
    background: radial-gradient(50% 50% at 50% 50%, #D24074 0%, #6518B4 100%);
}